/* Imports */
@import url("pygment.css");

* { margin: 0; padding: 0; }

/* *** General Styles *** */

body  {
	background: url(../images/background.jpg);
	color: #293331;
	font: 13px Georgia, "Times New Roman", Times, serif;
	text-align: center;
}

a {
	color: #293331;
}

a:hover {
	background: #a7aa9e;
}

#header a,
#topMenu a,
.blogItem h2 a,
.blogMeta a {
	text-decoration: none;
}

p {
	line-height: 1.5em;
	padding: 5px 0;
}

h1,
h2,
h3 { 
	font-weight: normal;
}

blockquote {
	background: url(../images/body.gif) top left repeat-y;
	font-size: 14px;
	font-style: italic;
	padding: 5px 0 5px 30px;
}

ul,
ol {
	margin-left: 20px;
	line-height: 1.6em;
}

code {
  color: #551629;
font-family: 'Droid Sans Mono',monospace;
}


pre {
  font-family: 'Droid Sans Mono',monospace;
  border-radius: 2px;
  font-size: 0.9em;
  font-style: normal;
  letter-spacing: 0.015em;
  line-height: 130%;
  padding: 0.7em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

table {
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    table-align: center;
}

td, th {
    font-size: 1em;
    border: 1px solid #716395;
    padding: 3px 7px 2px 7px;
}

th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #9d93b7;
    color: #ffffff;
}



/* *** Layout *** */

#container { 
	background: url(../images/plans.gif) no-repeat top right;
	margin: 0 auto;
	text-align: left;
	width: 800px;
} 

#header { 
	background: url(../images/header.gif) no-repeat;
	height: 109px;
	padding: 0 10px 0 20px;
} 

#topMenu {
	background: url(../images/menubar.gif) no-repeat;
	height: 48px;
}

#sidebar {
	float: right;
	padding: 20px 30px 10px 0;
	text-align: right;
	width: 150px; 
}

#mainContent {
	background: url(../images/body.gif) repeat-y;
	padding: 20px 250px 10px 40px;
} 

#footer { 
	background: url(../images/bottom.gif) no-repeat;
	font-size: 12px;
	height: 70px;
	padding: 0 10px 0 20px;
} 

/* *** Header Styles *** */

#header h1 {
	font-size: 48px;
	font-weight: normal;
	padding: 20px 0 0 170px;
}

#header h2 {
	font-size: 18px;
	font-weight: normal;
	text-align: right;
}

#header a:hover {
	background: none;
}

/* *** Top Menu Styles *** */

#topMenu ul {
	font-size: 24px;
	line-height: 1em;
	list-style: none;
	padding: 14px 30px 0 0;
	text-align: right;
}

#topMenu li {
	display: inline;
}

#topMenu a:hover {
	background: url(../images/hr.gif) center center no-repeat;
}

/* *** Blog Styles *** */

.blogItem {
	padding-bottom: 20px;
}

.blogItem h2,
.blogItem h3 {
	font-weight: normal;
}

.blogItem h2 a:hover,
.blogItem h3 a:hover {
	background: none;
	text-decoration: underline;
}

.blogItem h2 {
	font-size: 24px;
}

.blogItem h3 {
	background: url(../images/hr.gif) bottom left no-repeat;
	font-size: 14px;
	padding-bottom: 6px;
}

.blogItem h3.blogMeta {
	background-position: top left;
	padding: 6px 0 0 0;
	text-align: right;
}

/* *** Sidebar Styles *** */

#sidebar h3 {
	font-size: 24px;
	font-weight: normal;
}

#sidebar ul {
	line-height: 1.8em;
	list-style: none;
	padding-bottom: 20px;
}

#sidebar ul a {
	text-decoration: none;
}

#sidebar ul tagstyle {
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}


/* *** Comments Styles *** */

#comments {
	margin: 20px 0 0 20px;
}

#comments li {
	margin-bottom: 10px;
}

.commentSep {
	background: url(../images/hr.gif) bottom left no-repeat;
}

/* *** Footer Styles *** */

#footer p {
	padding: 30px 0 0 0;
	text-align: center;
}

.floatR {
	float: right;
	margin-left: 8px;
}

.floatL { 
	float: left;
	margin-right: 8px;
}

.clearfloat {
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
